$text-color: #d3415d;
$bg-color: #41D3B7;

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    color: $text-color;
    background-color: $bg-color;
    font-family: 'Hind Siliguri', sans-serif;
}

.container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

table {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-collapse: collapse;
    font-weight: 700;
}

table tr:first-child td {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr td:last-child {
    border-right: 0;
}

.square {
    font-size: 42px;
    border: 4px solid $text-color;
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: 120px;
    color: #222;
}

#gamestatus {
    text-align: center;
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 2.8px;
}

.mainChoosePlayer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100vh;
    width: 100%;
    background-color: $bg-color;
}

.board {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 38px;
    color: #000;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    font-family: 'Kavivanar', cursive;
}

.image1 {
    margin-top: 50px;
}

.image2 {
    margin-bottom: 50px;
}

.image1, .image2 {
    display: block;
    font-size: 72px;
    padding: 0;
    color: #b3415d;
}

.choosePlayerButton {
    width: 150px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    letter-spacing: 1.9px;
    font-weight: 600;
    text-align: center;
    background-color: #000;
    display: inline-block;
    margin: 0 15px;
    color: $bg-color;
    cursor: pointer;
    border-radius: 5px;
    -webkit-animation-duration: 1s;
}

.choosePlayerButton:hover {
    background-color: #222;
}